<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>北京农林后台管理</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">-->
    <link rel="stylesheet" href="assets/css/ready.css">
    <link rel="stylesheet" href="assets/css/demo.css">
    <style type="text/css">
    </style>
</head>
<body>
    <div class="wrapper">
        <!--头部-->
        <div class="main-header" style="background-image: linear-gradient(160deg, #7A88FF, #bfe9ef);"></div>
        <!--侧边导航-->
        <div class="sidebar"></div>
        <!--content-->
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <h4 class="page-title">关键词规则</h4>
                    <!--表单-->
                    <div class="row">                                                       
                       <div class="col-md-12">
                            <div class="card card-tasks">
                                    <div class="card-header ">
                                        <h4 class="card-title">必要关键词</h4>
                                    </div>
                                    <div class="card-body ">
                                        <div class="table-full-width">
                                            <table class="table">
                                                <thead>
                                                    <tr>                                                        
                                                        <th>序号</th>
                                                        <th>关键词名称</th>
                                                        <th>操作</th>                                                      
                                                    </tr>
                                                </thead>
                                                <tbody class="tbody">
                                                    
                                                    <tr>
                                                        <td>1</td>
                                                        <td>科学发展观</td>
                                                        <td class="td-actions">
                                                            <div class="form-button-action">                                                              
                                                                <button type="button" 
                                                                        data-toggle="tooltip" 
                                                                        title="Remove" 
                                                                        class="btn btn-link btn-simple-danger remove">
                                                                    <i class="la la-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>科学发展观</td>
                                                        <td class="td-actions">
                                                            <div class="form-button-action">                                                              
                                                                <button type="button" 
                                                                        data-toggle="tooltip" 
                                                                        title="Remove" 
                                                                        class="btn btn-link btn-simple-danger remove">
                                                                    <i class="la la-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>科学发展观</td>
                                                        <td class="td-actions">
                                                            <div class="form-button-action">                                                              
                                                                <button type="button" 
                                                                        data-toggle="tooltip" 
                                                                        title="Remove" 
                                                                        class="btn btn-link btn-simple-danger remove">
                                                                    <i class="la la-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <div class="stats">
                                            <button class="btn btn-primary btn-round" data-toggle="modal" 
                                                                data-target="#modalUpdate"  id="add">+</button>
                                        </div>
                                    </div>
                                </div>                           
                        </div>
                    </div>
                    
                    <!--屏蔽关键词-->
                    <div class="row">                                                       
                       <div class="col-md-12">
                            <div class="card card-tasks">
                                    <div class="card-header ">
                                        <h4 class="card-title">屏蔽关键词</h4>
                                    </div>
                                    <div class="card-body ">
                                        <div class="table-full-width">
                                            <table class="table">
                                                <thead>
                                                    <tr>                                                        
                                                        <th>序号</th>
                                                        <th>关键词名称</th>
                                                        <th>操作</th>                                                      
                                                    </tr>
                                                </thead>
                                                <tbody class="tbody">
                                                    
                                                    <tr>
                                                        <td>1</td>
                                                        <td>科学发展观</td>
                                                        <td class="td-actions">
                                                            <div class="form-button-action">                                                              
                                                                <button type="button" 
                                                                        data-toggle="tooltip" 
                                                                        title="Remove" 
                                                                        class="btn btn-link btn-simple-danger remove">
                                                                    <i class="la la-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>科学发展观</td>
                                                        <td class="td-actions">
                                                            <div class="form-button-action">                                                              
                                                                <button type="button" 
                                                                        data-toggle="tooltip" 
                                                                        title="Remove" 
                                                                        class="btn btn-link btn-simple-danger remove">
                                                                    <i class="la la-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>科学发展观</td>
                                                        <td class="td-actions">
                                                            <div class="form-button-action">                                                              
                                                                <button type="button" 
                                                                        data-toggle="tooltip" 
                                                                        title="Remove" 
                                                                        class="btn btn-link btn-simple-danger remove">
                                                                    <i class="la la-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <div class="stats">
                                            <button class="btn btn-primary btn-round" data-toggle="modal" 
                                                                data-target="#modalUpdate"  id="add2">+</button>
                                        </div>
                                    </div>
                                </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <!--版位-->
            <footer class="footer text-center"></footer>
        </div>
        </div>
    </div>
    <!--modal-->
    <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width: 1000px;margin: auto;">
            <div class="modal-content">
                <div class="modal-header" style="background-image: linear-gradient(160deg, #7A88FF, #bfe9ef);">
                    <h6 class="modal-title">关键词添加</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">                                  
                        <div class="card-body">
                            <div class="form-group">
                                <label for="squareInput">序号</label>
                                <input type="text" 
                                       class="form-control input-square" 
                                       id="number" 
                                       placeholder="eg：1">
                            </div>
                            <div class="form-group">
                                <label for="squareInput">关键词</label>
                                <input type="text" 
                                       class="form-control input-square" 
                                       id="name" 
                                       placeholder="eg：科学发展观">
                            </div>  
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Submit</button>
                           <!-- <button class="btn btn-danger">Cancel</button>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/slidebar.js"></script>
<script src="assets/js/header.js"></script>
<script src="assets/js/slidebar.js"></script>
<script src="assets/js/footer.js"></script>
<script>    
//  $('#add').on('click',function(){
//      var tr = '<tr><td>2</td><td><div style="border:1px solid blue;" contentEditable="true">科学发展观</div><button class="btn btn-primary btn-link">确认</button></td><td class="td-actions"><div class="form-button-action"><button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger"><i class="la la-times"></i></button></div></td></tr>';
//     $('.tbody').append(tr);
//  });
//
$(document).ready(function () {
    $('.btn-success').on('click',function(){
        var num = $('#number').val();
        var name = $('#name').val();
        var tr = '<tr><td>'+ num +'</td><td>'+ name +'</td><td class="td-actions"><div class="form-button-action"><button type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-simple-danger remove"><i class="la la-times"></i></button></div></td></tr>';
         $('.tbody').append(tr);
         remove();
    });
    function remove(){
       $('.remove').on('click',function(){
         $(this).parent().parent().parent().remove();
       })
    }
    remove();
   
    
});
</script>

</html>